node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
package-lock.json
yarn.lock
.idea
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests
tests-examples
test-results
playwright
playwright-report
page-objects
Fixtures
.github
